.cakeListOuter {
  float: left;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.cakeListOuter h5 {
  color: fuchsia;
  text-align: center;
  text-shadow: 0 0 10px red;
}

.cakeListInner {
  width: 300px;
  height: 600px;
  display: flex;
  overflow-y: scroll;
  border-radius: 3px;
  flex-direction: column;
  border: 2px solid maroon;
  justify-content: flex-start;
}
