.showCake {
  margin-top: 5%;
}

.showCake {
  display: flex;
  justify-content: flext-start;
  width: 625px;
}

.showCake > .col {
  width: 35%;
}

.showCake h4 {
  width: 100%;
  color: hotpink;
  text-shadow: 0 0 8px red;
}

.showCake h5 {
  width: 100%;
}

.showCake img {
  height: 35%;
  width: 120%;
}

#rating{
  width: 50px;
}

.input-field {
  display: flex;
}

.comment {
  margin-left: 30px;
}

.comments {
  height: 200px;
  width: 250px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.showCake form {
  margin-left: 5%;
}
