.material-icons {
  color: yellow;
}

.row {
  display: flex;
  justify-content: center;
}

.thisCake {
  color: hotpink;
  text-shadow: 0 0 8px red;
}

.showCake {
  margin-top: 15px;
}

#rating{
  width: 50px;
}

.input-field {
  display: flex;
}

.comment {
  margin-left: 30px;
}

.comments {
  height: 200px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
}
